body {
    background-color:#f8f6d4
}
p, link {
    color: #020700;
    background-color: #90C5B2;
}
h1,h2 {
    color: #0c0c0c;
}
a:visited {
    color: #000000;
}

nav a:hover{
    background-color: #f02ca1;
    color:#0a0107;
}

ul{
    color: #0c0c0c;
}

nav a{
    color:#d8d0f4;
    background-color:#88c9f7 ;
}

nav {
    border: 5px solid #90C5B2;
    padding: 10px;
    margin-bottom: 30px;
}
.quote{
    float: right; margin-right: 10px;
}
.class{
    float: right;
}
.clear {clear:both;}
.row1 div { 
    flex: 1;
    background-color:#88c9f7 ;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
    width: 10px;
   }
.row2 div {
    flex:1;
    background-color: #f02ca1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    width: 10px;
}
.row1, .row2{
    display:flex;
}

h1,caption{
    text-align: center;
}

.img{
    max-width: 100px;
}

.row2{
    flex-wrap: wrap;
}
 @media only screen and (max-width: 667px) {
    nav a {display:block; padding:5px;}
    span {display:none;}
 }

 @media only screen and (max-width: 667px) {
    .firstimage {
        max-width: 100%;
        display: block;
    }
 }
 .image{
    width: 40px; 
    padding: 50px;
    justify-content: space-between;
 }
 

