.image{
   width: 20px; 
   padding: 50px;
}

.images{
    display:flex;
}
aside{
    width: 30%;
    float: right;
    background-color: rgb(58, 61, 221);
    color: aliceblue;
    border-radius: 20px;
    justify-content: right;
}

.flexbox2{
    display: flexbox;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}