p, ul, td, th {
    color:indigo;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkseagreen;
    font-size: 150%;
}

h2 {
    color:mediumvioletred;
    font-size: 100%;
}

.evenrow {
    background-color: deeppink;
}